<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email"><br>

        <label for="password">Password</label>
        <input type="password" id="password"><br>

        <button>Submit</button>
    </form>
    <a href="/auth/signup">Don't have an account?</a>
</body>
</html>