<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Login</h1>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <p id="errors"></p>
    <form action="/dashboard" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email"><br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password"><br>

        <button type="submit">Submit</button>
    </form>
    <div class="button">
        <div id="g_id_onload"
         data-client_id=<%= GOOGLE_CLIENT_ID %> 
         data-login_uri=<%= GOOGLE_LOGIN_URI %> 
         data-callback="handleCredentialResponse"
         >
      </div>
      <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
      </div>
    </div>
    <a href="/auth/signup">Don't have an account?</a>
</body>
<script>
    var errors = []
    const form = document.querySelector('form')
    form.addEventListener('submit', async (e) => {
        e.preventDefault()
        const email = form.email.value
        const password = form.password.value

        try {
            const response = await fetch('<%- LOGIN_URL %>', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({email, password})
            })
            const json = await response.json()
            if (json.success) {
                location.assign('/dashboard')
            } else {
                errors = json.error
                alert(errors.join('\n'))
            }
        } catch (err) {
            alert("Internal Server Error")
        }
    })
    async function handleCredentialResponse(response) {
        try {
            let responsePayload = response.credential;
            const data = await fetch('<%- GOOGLE_LOGIN_URL %>', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    data: responsePayload
                })
            })
            const json = await data.json()
            if (json.success) {
                location.assign('/dashboard')
            } else {
                errors = json.error
                alert(errors.join('\n'))
            }
        } catch(err) {
            alert("Internal Server Error")
        }
    }
</script>
</html>