<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/dashboard" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email"><br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password"><br>

        <button type="submit">Submit</button>
    </form>
    <a href="/auth/signup">Don't have an account?</a>
</body>
<script>
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    const form = document.querySelector('form')
    form.addEventListener('submit', async (e) => {
        e.preventDefault()
        const email = form.email.value
        const password = form.password.value

        try {
            const response = await fetch('http://localhost:3000/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({email, password})
            })
            const json = await response.json()
            console.log(json)
            if (json.success) {
                location.assign('/dashboard')
            } else {
                location.assign('/auth/login')
            }
        } catch (err) {
            console.log(err)
        }
    })
</script>
</html>